@model IEnumerable<FootballProject.Models.FootBallLeague>

@{
    ViewData["Title"] = "Winners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Winners</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            
        </tr>
}
    </tbody>
</table>
